<div class="modal__overlay" xmlns="http://www.w3.org/1999/html"></div>
<div class="modal__body">
    <!-- Form register -->
    <div class="auth-form" id="auth-form-register">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h3 class="auth-form__heading">
                    Đăng ký
                </h3>
                <span class="auth-form__switch-btn" modal-attr="switch-btn">
                    Đăng nhập
                </span>
            </div>
            <div class="auth-form__form">
                <span class="auth-form__form-incorrect-register"></span>
                <div class="auth-form__group">
                    <input id="res-username" class="auth-form__input" placeholder="Email của bạn" type="text"
                        required />
                </div>
                <div class="auth-form__group">
                    <input id="res-password" class="auth-form__input" placeholder="Mật khẩu của bạn" type="password"
                        required />
                </div>
                <div class="auth-form__group">
                    <input id="res-retype-password" class="auth-form__input" placeholder="Nhập lại mật khẩu"
                        type="password" required />
                </div>
            </div>
            <div class="auth-form__aside">
                <p class="auth-form__policy-text">
                    Bằng việc đăng kí, bạn đã đồng ý với F8Shop về
                    <a class="auth-form__text-link" href="">
                        Điều khoản dịch vụ
                    </a>
                    &
                    <a class="auth-form__text-link" href="">
                        Chính sách bảo mật
                    </a>
                </p>
            </div>
            <div class="auth-form__control">
                <button class="btn btn--normal auth-form__control-back" modal-attr="back-btn">
                    TRỞ LẠI
                </button>
                <button class="btn btn--primary" modal-attr="register-btn">
                    ĐĂNG KÝ
                </button>
            </div>
        </div>
        <div class="auth-form__socials">
            <div class="auth-form__socials-header">
                Hoặc đăng nhập bằng
            </div>
            <a class="auth-form__socials--facebook btn btn--size-s btn--with-icon" href="">
                <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                <span class="auth-form__socials-title">
                    Kết nối với Facebook
                </span>
            </a>
            <a class="auth-form__socials--google btn btn--size-s btn--with-icon" href="">
                <i class="auth-form__socials-icon fab fa-google"></i>
                <span class="auth-form__socials-title">
                    Kết nối với Google
                </span>
            </a>
        </div>
    </div>
    <!-- Form login -->
    <div class="auth-form" id="auth-form-login">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h3 class="auth-form__heading">
                    Đăng nhập
                </h3>
                <span class="auth-form__switch-btn" modal-attr="switch-btn">
                    Đăng ký
                </span>
            </div>
            <div class="auth-form__form">
                <span class="auth-form__form-incorrect-login"></span>
                <div class="auth-form__group">
                    <input id="username" class="auth-form__input" placeholder="Email của bạn" type="text" />
                </div>
                <div class="auth-form__group">
                    <input id="password" class="auth-form__input" placeholder="Mật khẩu của bạn" type="password" />
                </div>
            </div>
            <div class="auth-form__aside">
                <div class="auth-form__help">
                    <a class="auth-form__help-link auth-form__help-forgot" href="">
                        Quên mật khẩu
                    </a>
                    <span class="auth-form__help-separate"></span>
                    <a class="auth-form__help-link" href="">
                        Cần trợ giúp?
                    </a>
                </div>
            </div>
            <div class="auth-form__control">
                <button class="btn btn--normal auth-form__control-back" modal-attr="back-btn">
                    TRỞ LẠI
                </button>
                <button class="btn btn--primary" modal-attr="login-btn">
                    ĐĂNG NHẬP
                </button>
            </div>
        </div>
        <div class="auth-form__socials">
            <div class="auth-form__socials-header">
                Hoặc đăng nhập bằng
            </div>
            <a class="auth-form__socials--facebook btn btn--size-s btn--with-icon" href="">
                <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                <span class="auth-form__socials-title">
                    Kết nối với Facebook
                </span>
            </a>
            <a class="auth-form__socials--google btn btn--size-s btn--with-icon" href="">
                <i class="auth-form__socials-icon fab fa-google"></i>
                <span class="auth-form__socials-title">
                    Kết nối với Google
                </span>
            </a>
        </div>
    </div>
</div>