<div class="order-success">
    <div class="order-success__icon-container">
        <i class="far fa-check-circle order-success__icon"></i>
    </div>
    <div class="order-success__icon-text">Đơn hàng của bạn đã dược đặt thành công</div>
    <div class="order-success__icon-btn">
        <a href="/" class="btn btn--primary" checkout-attr="item-link">Tiếp tục mua</a>
    </div>
</div>