<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="require-login">
                <div class="require-login__icon-container">
                    <i class="fas fa-lock require-login__icon"></i>
                </div>
                <div class="require-login__message">Bạn cần đăng nhập để tiếp tục</div>
                <div class="require-btn">
                    <button class="btn btn--primary header-login" header-attr="authentication">Đăng Nhập</button>
                    <button class="btn btn--normal header-register" header-attr="authentication">Đăng Ký</button>
                </div>
            </div>
        </div>
    </div>
</div>